<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <title>Osiris</title>
</head>
<body>
    <img src="https://i.pinimg.com/736x/f8/0e/fd/f80efd0f2e6a753a3bea4c44ce3c5aa2.jpg" width="200" height="300">
    <h2>Ссылки:</h2>
    <p>Администрирование: <a href="http://127.0.0.1:8000/admin/">(тык)</a></p>
    <p>Список новостей: <a href="http://127.0.0.1:8000/news/list/">Api</a> <a href="http://127.0.0.1:8000/news/news/">Site</a></p>
    <p>"Че новенького?":</p>
    <form action="/news/collect/" method="post">
        <label for="url">Какой источник?</label>
        <input id="url" type="text" name="url" value="https://www.wikipedia.org/">
        <input type="submit" value="Ищи">
    </form>
</body>
</html>