<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workquote journal</title>
</head>
<body>  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>

    <!--Journal-->
    <div id="spisok">
        <p><h1>Журнал рабочки</h1></p>
        <button v-on:click="getWorkJournal">Открыть журнал рабочки</button>
        <input v-model='date' placeholder='Введите дату'>
        <p>
            <button v-on:click="getYesterdayWorkJournal">Кто вчера был в рабочке?</button>
            <button v-on:click="getTodayWorkJournal">Кто сегодня был в рабочке?</button>
        </p>
        <p>
            <button v-on:click="getWeekWorkJournal">Кто на неделе был в рабочке?</button>
        </p>
        <ul v-if='isSend' v-for="data in Response">
                <li> [[ data.user.username ]] </li>
                <li> [[ data.date ]] </li>
                <li> [[ data.quote ]] </li>
                <li> [[ data.description ]]</li>
        </ul>
        <p></p>
    </div>

    <!--Add new works-->
    <div id='adding'>
        <p><h1>В <b>рабочку</b> пойдет...</h1></p>
        <p v-if='isSend'><h3>[[ status ]]</h1></p>
        <select v-model="worker">
            <option v-for="user in users"> [[ user.username ]] </option>
            <option value='random'> Похуй, рандом </option>
            <option value='nobody'> Никто </option>
        </select>
        
        <p>Примечание: <input v-model="description" placeholder="Кладовая, склад, имущество и др."></p>   
        <p>Примерная <b>сложность</b>: <input v-model="dificulty" type="number" step="1"></p>
        <button v-on:click='setWorker'>Внести в журнал</button>
    </div>
</body>

<script>
    Vue.options.delimiters = ['[[', ']]'];
    
    var adding = new Vue({
        el:'#adding',
        data: {
            users: null,
            worker: 'nobody',
            description: '',
            dificulty: 1,
            date: null,
            Response: null,
            isSend: false,
            status: '',
        },

        methods: {
            getUserList() {
                axios({
                    method: 'get',
                    url: './userlist/'
                }).then((response) => {
                    this.users = null
                    this.users = response.data.Users
                })
            },
            setWorker() {
                axios({
                    method: 'post',
                    url: './setworker/',
                    data: {
                        'worker': this.worker,
                        'description': this.description,
                        'dificulty': this.dificulty
                    },
                }).then((response) => {
                    this.isSend = true,
                    this.description = null,
                    this.status = response.data.description
                })
            }
        },

        beforeMount() {
            this.getUserList()
        },
    })

    var spisok = new Vue({
        el:'#spisok',
        data: {
            date: null,
            Response: null,
            isSend: false,
        },
        methods: {
            getWorkJournal() {
                axios({
                    method: 'post',
                    url: './journal/',
                    data: {
                        'date': this.date
                    }
                }).then((response) => {
                    this.isSend = true,
                    this.Response = response.data.Data
                })
            },
            getYesterdayWorkJournal() {
                axios({
                    method: 'post',
                    url: './journal/',
                    data: {
                        'date': 'yesterday'
                    }
                }).then((response) => {
                    this.isSend = true,
                    this.Response = response.data.Data
                })
            },            
            getTodayWorkJournal() {
                axios({
                    method: 'post',
                    url: './journal/',
                    data: {
                        'date': 'today'
                    }
                }).then((response) => {
                    this.isSend = true,
                    this.Response = response.data.Data
                })
            },
            getWeekWorkJournal() {
                axios({
                    method: 'post',
                    url: './journal/',
                    data: {
                        'date': 'week'
                    }
                }).then((response) => {
                    this.isSend = true,
                    this.Response = response.data.Data
                })
            },
        }
    })
</script>

</html>